:root {
    --primary-300: #6f7f85;
    --primary-400: #2c4852;
    --primary-500: #203942;

    --secondary-200: #4a565d;
    --secondary-300: #364046;
    --secondary-400: #2f3638;
    --secondary-500: #262a2c;

    --grey: #e4e7eb;
    --grey-light: #f0f2f6;

    --accent: #337085;
    --accent-light: #66cbec;

    --easy: #a7e541;
    --medium: #ffad32;
    --hard: #db544b;

    --br: 0.75rem;

    --font-primary: #fcfcfc;
    --font-paragraph: #a4b6bb;
    --font-secondary: #17171a;
}

$v-25: 156.25em; // 2500px
$v-20: 125em; // 2000px
$v-17: 105rem; ////1680px
$v-14: 85.375em; //1366px
$v-12: 75em; //1200px
$v-10: 62.5em; //1000px
$v-9: 56.25rem; //900px
$v-8: 48rem; // 768px
$v-6: 35.5em; //568px
$v-3: 20em; //320px
